<div class="post">
    {{#each model as |row|}}
        <h4>{{row.title}}</h4>
        {{#each row.body as |row|}}
            <div class='row'>
            {{#each row as |col|}}
                <div class='col'>
                    {{#if col.image}}
                        <img src="{{col.image}}">
                    {{/if}}
                    {{#if col.text}}
                        <p>{{col.text}}</p>
                    {{/if}}
                </div>
            {{/each}}
            </div>
        {{/each}}
    {{/each}}
</div>

<div>View more posts</div>
