<img src='https://s3-us-west-2.amazonaws.com/sarahstrawn/images/logo.png'>
<ul class="navigation">
    <li>
        {{#link-to 'blog' class='button'}}
            Blog
        {{/link-to}}
    </li>
</ul>
<div class="content">
    {{outlet}}
</div>
