<div class="posts">
    {{outlet}}
</div>

<div class="postings">
    {{#each model as |post|}}
        {{#link-to "blog.post" post.id}} 
            <div class="posting">
                {{post.title}}
            </div>
        {{/link-to}}
    {{/each}}
</div>
